.ant-checkbox-checked .ant-checkbox-input {
    background-color: #2dd044;
    border-color: #2dd044;
}
.ant-checkbox-checked .ant-checkbox-inner {
    background-color: #2dd044;
    border-color: #2dd044;
}

#components-layout-demo-responsive .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
}

.site-layout-sub-header-background {
    background: #fff;
}

.site-layout-background {
    background: #fff;
}
.ant-layout-sider-children {
    width: 60px;
    display: inline-flex;
}
aside.ant-layout-sider.ant-layout-sider-dark {
    flex: 0 0 30px !important;
    max-width: 30px !important;
    min-width: 30px !important;
    width: 30px !important;
}

main.ant-layout-content {
    margin: 24px 40px 0px !important;
}
ul.ant-menu.ant-menu-light.ant-menu-root.ant-menu-vertical {
    width: 60px;
    // margin-top: 10px;
}

div.site-layout-background {
    background: #f0f3f8 !important;
}
